/* Reset Style */
body {
  background-color: #f8f8f8;
  font-family: Lato, sans-serif;
  font-size: 15px;
  color: #333;
}
ul {
  margin: 0;
  padding: 0px;
}
li {
  list-style: none;
}

.header {
  display: block;
  width: 500px;
  margin: 0 auto;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__link {
  font-family: Fantasy, sans-serif;
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto;
}
.task__container {
  display: flex;
}
.task__input,
.task__btn {
  outline: none;
}
.task__btn {
  width: 60px;
  border: 0px;
  background: none;

  font-family: Lato, sans-serif;
  font-size: 15px;
  color: #888;
  cursor: pointer;
}
.task__btn:hover {
  color: #3a3a3a;
}
/* Heading */
.task__title {
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;

  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.task-add,
.task__input,
.task__output {
  display: inline-block;
  width: 56%;
  flex-grow: 1;
}
.task-add,
.task__input {
  height: 21px;
  padding: 0 9px;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fff;

  font-size: 18px;
  line-height: 18px;
  color: #888;
}
.task-add:focus,
.task__input:focus {
  color: #333;
}

/* New Task */
.task__title {
  display: block;
  margin: 0 0 20px;
}
.task-add {
  width: 318px;
}

/* Task list */
.task__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}

.task__chk {
  margin: 0 10px;
}
.task__output {
  box-sizing: border-box;
  width: 226px;
  padding-left: 10px;
  font-size: 18px;
}
.task__list .task__input {
  width: 226px;
}
.task__btn-img {
  height: 2em;
  transform: rotate(45deg);
  transition: transform 200ms ease-in;
}
.task__btn-img:hover {
  transform: rotate(0);
}

/* Completed */
.task__list-complete .task__output {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task__list .task__input {
  display: none;
}
.modify .task__input {
  display: inline-block;
  width: 224px;
}
.modify .task__output {
  display: none;
}

@media (max-width: 768px) {

  .header {
    text-align: center;
  }

}
